* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

section {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    gap: 1.25rem
}

button {
    padding: 8px 16px;
    background-color: #def;
    border: 2px solid transparent;
    border-radius: 8px;
}
